body {
  font-family: Arial, sans-serif;
  background: #fff;
}
.kalkulator {
  width: 270px;
  margin: 2em auto;
  padding: 13px;
  border-radius: 25px;
  border: 2px solid #aaa;
}
.tampilan {
  width: 95%;
  margin: 10px 0;
  font-size: 2em;
  text-align: right;
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;

}
td {
  text-align: center;
  padding: 12px;
  border: 1px solid #eee;
}
.tombol {
  width: 44px;
  height: 44px;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.15s;
}
.angka{
    background: #f7f7f7;
}
.operator {
  background: #d6dbe0;
}
.sama-dengan {
  background: #ed3e1f;
  color: #fff;
}
.reset {
  background: #888;
  color: #fff;
}
.nama-kamu {
  text-align: center;
  font-style: italic;
  color: #207eb6;
  margin-bottom: 5px;
}
